
    body {
        background-color:rgb(#fff);
        font-family:  Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    }
.contenedor {
    display: flex;
    background-color: rgb(5, 5, 5);
    position: sticky;
    top: 0;
}
.arribaNav {
    height:40px;
    background-color:rgb(20, 20, 20);
    display: flex;
}
.arribaNav h1 {
    font-size: 0.8rem;
    color: white;
}
.arribaNav h1 span {
    padding-left:25px;
    padding-right: 25px;
    font-size:1.5rem;
}

.logo {
    padding-left: 10%;
    padding-right: 34%;
}
header h1 {
    margin-top: 10px;
    color: white;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}
.aLogo {
    text-decoration:none;
    color: white;
}
.aLogo:hover{
    color: white;
}
.nav-link {
    color: rgb(255, 255, 255);
    font-size:x-large;
    display:flex;
}
.arribaNav div a {
    font-size:0.8rem;
}
.agregarBotin {
    margin-top:30px;
    margin-bottom:17px;
    font-weight: bold;
    text-align: center;
        
}
.tituloYfiltro {
    padding-top:30px;
    text-align: center;
    padding-right: 3%;
}
.tituloYfiltro h1 {
    font-weight:bold;
    font-size: 3.5rem;
}
.borrar {
    background-color: rgb(221, 57, 57);
    border: black;
}
.borrar:hover {
    background-color:rgb(245, 0, 0)
}
.editar {
    border: black;
    background-color: rgb(43, 184, 43);
}
.editar:hover {
    background-color: rgb(2, 163, 2);

}

.inputFiltro {
    width: 25%;
    height:40px;
    border-radius: 10%;
}
.btn-filtroB, .btn-filtroV {
    border: none;
    font-size: 1.3rem;
    border-radius:100%;
    background-color:white;
    transition:all 0.7s ease;
}
.btn-filtroB:active, .btn-filtroV:active {
    color:rgb(240, 10, 10);
    cursor:progress;
}
.btn-filtroB:hover, .btn-filtroV:hover {
    background-color:red;
    color: white;
}
.btn-filtroB {
    margin-left: -80px;

}
.tituloYfiltro label {
    font-weight:bold;
}
.contenedorDetalles{
    display: inline-block;
    border: solid 1px grey;
    background-color:white;
    border-radius: 4%;
    width:30%;
    min-height: 40%;
    margin-top:50px;
    margin-left:2%;
    padding-bottom: 1%;
    transition:all 0.5s ease;
}
.contenedorDetalles:hover {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:scale(1.1);
}
.modelo, .talle, .precio, .botonesByE {
    text-align: center;
}
.modelo {
    font-size:1.4rem;
}
.talle {
font-size: 1.3rem;
}
.precio {
    color: rgb(231, 73, 73);
    font-size: 1.4rem;
    font-weight: bold;
}


.formAgregarBotin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    height: 100%;
    margin-top: 40px;
}
label {
    font-size:1.8rem;
}
::placeholder {
    font-size: 1.1em;
  }
.form-select {
   font-size:1.3rem;
}
.formMitad {
    display: flex;
}
option {
    width:140px;
}
.formPrimeros{
    
}
.formSegundos {
    padding-left: 100px;
}
.btn-form {
    font-size: 1.2rem;
    margin-top:40px;
    margin-left:-50px;
    margin-bottom: 15px;
    background-color: black;
}
.btn-form:hover {
    background-color:rgb(119, 118, 118);
    transition: X(3px);
}
.btn-form:active {
    background-color:rgb(119, 118, 118);
    transform: translateY(10px);
}
.marcas {
    text-align: center;
    margin-top:-100px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.categorias{
    text-align: center;
    margin-top:50px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.tile .tile-logo {
    width: 40%;
    height: auto;
    position: relative;
}
.marcasHome {
    display: flex;
    background-color:white;
    border-radius: 1%;
    width:90%;
    transition:all 0.5s ease;
    margin-left:3.3%;
}
.hrIzq {
    width: 25%;
    margin-left: 11%;
    margin-top: -2%;
}
.hrDer {
    width: 28%;
    margin-left: 62%;
    margin-top: -1%;
}


.logo1, .logo2, .logo3, .logo4 {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding:10px;
    transition:all 0.5s ease;
    background-color:rgb#fff;
    padding-bottom: 1%;
    transition:all 0.5s ease;
}
.logo1:hover, .logo2:hover, .logo3:hover, .logo4:hover {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:scale(1.1);
}
.logoAdidas, .logoNike, .logoPuma, .logoLotto {
    width:100%;
}

.categoriaBoot1 {
    display: flex;
  margin-left: 80px;
    margin-top:50px;
}
.categoriaBoot2 {
    display: flex;
    justify-content: center;
    margin-left:10%;
    margin-top:50px;
}
.terrenoBlandoIMG, .terrenoFirmeIMG {
    width:81%; 
    height:500px;
    padding-left: 50px;
}
.pastoSinteticoIMG, .futsalIMG {
    width:80%; 
   height:500px;
}
.terrnoFirme, .pastoSintetico{
    padding-left: 130px;
}
.terrenoBlando, .futsal {
    padding-right: 10px;
}
/* .terrenoBlando, .futsal, .terrenoFirme, .pastoSintetico {
    width: 100%;
    padding:10px;
    transition:all 0.5s ease;
    background-color:rgb#fff;
}
.terrenoBlando:hover, .futsal:hover, .terrenoFirme:hover, .pastoSintetico:hover {
    transform:scale(1.1);
} */
/* SLIDER FOTOS HOME */

.slider {
    width: 100%;
    height:700px;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.slider ul li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}
.img1, .img2, .img3, .img4 {
    width: 100%;
    height:70%;
}
.boton {
    width: 40px;
    height: 50px;
}


/* FOOTER */
footer {
    background-color:black;

    margin-top: 40px;
    
}
.redes {
    text-align: center;
    font-size: 1.5rem;
    background-color:rgb(10, 10, 10);
}
.instagram {
    color: rgb(219, 118, 118);
}
.facebook {
color:rgb(112, 112, 224)
}
.twitter {
color: rgb(169, 226, 245);
}
.redes p span {
    padding-left: 60px;
}
.argentina {
    width: 2%;
    font-weight: bold;
    margin-left: 10%;
}

 .arribaNav .argentina {
     width:7%;
     margin-right: 5px;
 }
 .login {
     font-weight: bold;
     margin-left: 700px;
 }
.argentinaSpan {
    color: white;
    font-size: 1.1rem;
}
.span2 {
    color: rgb(206, 202, 202);
    padding-left:40%;
    font-size: 1rem;
}
.sobreNosotros {
    margin-top: 80px;
    margin-left: 6%;
}
.sobreNosotros h1 {
    color: black;
    font-weight: bold;
    font-size:2rem;
}
.sobreNosotros p {
    margin-right: 100px;
    font-size: 1.3rem;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer div {
    background-color: grey;
}

.containerUser {
    display: flex;
    margin-top: -20px;
}
form input {
    width:500px;
    height:60px;
    border: 1px solid black;
    
}
.h2iniciarSesion {
    margin-left: 10%;
    margin-top: 4%;
}
 .sumbit {
    width: 300px;
    margin-top: 80px;
    background-color: rgb(31, 29, 29);
    box-shadow: 1px 2px rgb(49, 49, 49);
    border: solid 1px black;
}
.sumbit:hover {
   background-color: black;
   border: solid 1px black;
   transition: X(3px);
}
.sumbit:active {
    transform: translateY(10px);
}
#email, #password {
    margin-top: 60px;
}